.App {
  display: flex; /* Verwenden Sie Flexbox, um den Inhalt anzuordnen */
  justify-content: space-between; /* Platzieren Sie den Inhalt am linken und rechten Rand */
}

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  background: white;
}

.react-flow__node {
  height:50px;
  width: 50px;
  font-size: 8px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}
.react-flow{
  height: 80vh !important;
  width: 70%;
}

.node {
  height: 50px;
  width: 50px;
  border-radius: 10%;

}

.toptext {
  font-size: 32px;
  font-family: "Apple Braille", serif;
  text-align: center;
}

.DFAContainer {
  display: flex;
  align-items: center; /* Zentriert die Inhalte vertikal */
}

.DFAAnzeige {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 40px;
  font-weight: bold;
  font-family: "Apple Braille", serif;

}

/* Stil für True */
.DFAAnzeige.true {

  color: green;
}

/* Stil für False */
.DFAAnzeige.false {

  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}